.parallax1{
	//background-color:#F0EB9A;
	padding: 10px;
	min-height: 300px;
}
.parallax2{
	background-color:#202020 !important;
}
.logo{
	width: 50px;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
footer.page-footer{
	margin-top: 0px;
}
.photos{
	width: 100%;
	
}
#slides {
	display:none;
}
.slidesjs-pagination-item {
	float: left;
	background-color: #333;
	width: 20px;
	text-align: center;
	border-radius: 50%;
	height: 20px;
	color: white;
	font-size: 15px;
}
ul.slidesjs-pagination {
	float: right;
	top: -13px;
	position: relative;
}
.slidesjs-navigation {
	background-color: #333;
	padding: 5px;
	margin-top: 8px !important;
	position: relative;
	margin: 1px;
	font-size: 12px;
}
.parallax-container{

		min-height: 500px;
	height: auto !important;
}
.col.s6.m4.l3.instagram-emb {
    height: 400px;
    overflow: hidden;
}
@media  (max-width: 600px) {
	h3{
		font-size: 1.8rem;
	}
	h4{
		font-size: 1.5rem;
	}
	#index-banner{
		min-height: 700px;
	}
	.instagram-emb{
		height: 350px;
	}
	.logo{
		width: 45px;
		height: 55px;
		background-color: transparent !important;
	}
}